#inicio {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#logo {
    justify-content: flex-start;
}

h1 {
    text-align: center;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family:  Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: orange;
}

li {
    background: orange;
    height: 30px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
}

li a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    padding: 8px;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0%;
}

body {
    background-color: rgb(255, 255, 255);
}

p {
    font-size: large;
}

#email {
    font-size: 2.5rem;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    transform: rotate(360deg);
    transition: 3s;
}

.producto{
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 220px;
}
footer {
    text-align: center;
    background: rgba(55, 58, 58, 0.8);
    color: white;
    padding: 20px;
}
